/* custom.css */

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

article header h2 a {
    color: #333;
}

a code {
    text-decoration: underline;
    color: #4582EC;
}

p.subtitle {
    font-size: 110%;
    font-style: italic;
    margin-bottom: 30px;
}

#content {
    width: 70%;
    margin: 0 auto;
    line-height: 1.5em;
}
